/cache
node_modules
coverage.json
coverage
typechain
flattened
slither
/.DS_Store
.idea
/tmp
contracts/hardhat-dependency-compiler/*
.openzeppelin/unknown-31337.json
.env*
!.env.build.example
!.env.runtime.example
/build
/deployments

# Exclude liquidator artifact
/artifacts/*
!/artifacts/contracts
/artifacts/contracts/*
!/artifacts/contracts/Liquidator.sol
/artifacts/contracts/Liquidator.sol/*
!/artifacts/contracts/Liquidator.sol/Liquidator.json